
<div class="main-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Welcome to Startapium</h1>
        <!--<img class="img-responsive" src="../../../assets/images/pets.png" alt="pets logo"/>-->
      </div>
    </div>
</div>
