<div [ngStyle]="{'left':leftA}" id="left-main-menu" class="layout-left-menu">
  <div class="logo">
    <a (click)="toMain()" class="backlighting-login" id="headLogo">Startapium</a>
  </div>

  <div class="user-panel">
    <div *ngIf="(aGuard.isAuthenticated)">
      <app-user-block></app-user-block>
    </div>
    <div *ngIf="(!aGuard.isAuthenticated)">
      <ul class="main-menu">
        <li class="main-menu-item">
          <a (click)="enterToLogin()" class="backlighting-login">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Войти на сайт
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="(rGuard.isAdmin)">
    <ul class="main-menu">
      <li id="users" class="main-menu-item">
        <a class="backlighting-login" (click)="usersAll()">Users</a>
      </li>

      <li id="teams" class="main-menu-item">
        <a href="/admin/listTeams">Teams</a>
      </li>

      <li id="projects" class="main-menu-item">
        <a href="/admin/listProjects">Projects</a>
      </li>

      <li id="skills" class="main-menu-item">
        <a href="/admin/listSkills">Skills</a>
      </li>

      <li id="specialties" class="main-menu-item">
        <a href="/admin/listSpecialties">Specialties</a>
      </li>

      <li id="technologies" class="main-menu-item">
        <a href="/admin/listTechnologies">Technologies</a>
      </li>

      <li id="tags" class="main-menu-item">
        <a href="/admin/listTags">Tags</a>
      </li>

      <li id="roles" class="main-menu-item">
        <a class="backlighting-login" (click)="rolesAll()">Roles</a>
      </li>

      <li id="vacancies" class="main-menu-item">
        <a href="/admin/listVacancies">Vacancies</a>
      </li>

      <li id="activity" class="main-menu-item">
        <a href="/admin/listFieldActivity">Fields Activity</a>
      </li>

      <li id="employment" class="main-menu-item">
        <a href="/admin/listTypesEmployment">Types Employment</a>
      </li>

      <li id="statuses" class="main-menu-item">
        <a href="/admin/listProjectStatuses">Project Statuses</a>
      </li>

      <li id="teamCategory" class="main-menu-item">
        <a href="/admin/listTeamCategories">TeamCategory</a>
      </li>
    </ul>


  </div>

  <div *ngIf="(rGuard.isAdmin)">
    <ul class="main-menu">
      <li id="admin_panel" class="main-menu-item">
        <a (click)="toUser()" href="/">
          <span class="glyphicon glyphicon-education"></span> User panel
        </a>
      </li>
    </ul>
  </div>


</div>


<top-bar></top-bar>
