

<ul class="main-menu">
  <li id="inp" class="main-menu-item">
    <a href="#user-menu" data-toggle="collapse" class="backlighting-login">
    <!--<a class="backlighting-login" (click)="showMenuField = !showMenuField">-->
      <!--<c:if test="${avatar_id.equals('')}">-->
      <img class="avatar-mini" src="assets/images/user.png" alt="">&nbsp;&nbsp;{{aGuard.userName}}
      <!--</c:if>-->
      <!--<c:if test="${!avatar_id.equals('')}">-->
      <!--<img claavatar_idatar-mini"-->
      <!--src="${contextPath}/showImage?index=${avatar_id}" alt="">&nbsp;&nbsp;${pageContext.request.userPrincipal.name}-->
      <!--</c:if>-->
    </a>
  </li>
</ul>

<div class="block collapse" id="user-menu">
  <h5 class="main-menu-submenu">
    <a id="editProfile" class="backlighting" href="${contextPath}/editProfile">
      <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;editProfile
    </a>
  </h5>
  <h5 class="main-menu-submenu">
    <a id="logout" class="backlighting" href="#" (click)="logout()">
      <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;&nbsp;logout
    </a>
  </h5>
</div>
