
<div class="container-fluid">
  <div class="container xd-container">

    <h4>Role Information</h4>

    <table class="table table-striped">
      <thead><tr>  <th>Name</th>  </tr></thead>

      <tbody>
      <tr>
        <td><b>{{role.name}}</b></td>
        <td align="right">
          <button class="btn btn-default" (click)="rolesList()">< Back</button>
          <button class="btn btn-default" (click)="editRole()">Edit role</button>
          <button class="btn btn-default" (click)="delete(role)">Delete role</button>
        </td>
      </tr>
      </tbody>

    </table>


    <table class="table table-striped">
      <thead><tr>  <th>Associated Users</th>  </tr></thead>

      <tbody>
      <tr *ngFor="let user of role.users">
        <td>
          <a routerLink="/admin/user/{{user.id}}" routerLinkActive="active"(click)="onSelect(user)">{{user.name}}</a>
        </td>
        <td align="right">
          <button align="right" class="btn btn-default"  (click)="editUser(user)">Edit user</button>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
