<div class="main-content">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <div class="row card-info" style="margin-top: 2%">
        <div class="col-lg-4">
          <div class="cardImg">
            <div *ngIf="user.avatar_id ;else templateUserAvatar">
              <img height="150" width="150"
                   src="${contextPath}/showImage?index=(user.avatar)"
                   alt="">
            </div>
            <ng-template #templateUserAvatar>
              <img height="150" width="150"
                   src="assets/images/user.svg"
                   alt="">
            </ng-template>
          </div>

        </div>

        <div class="col-lg-8">
          <div class="info">
            <h3 class="titleCard">
              Information about user:
            </h3>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h5 class="titleItem">
                  Username:
                </h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h4 class="itemInfo">
                  {{user.name}}
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h5 class="titleItem">
                  First name:
                </h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h4 class="itemInfo">
                  {{user.firstName}}
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h5 class="titleItem">
                  Last name:
                </h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h4 class="itemInfo">
                  {{user.lastName}}
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h5 class="titleItem">
                  Birth date:
                </h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h4 class="itemInfo">
                  {{user.birthDate}}
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h5 class="titleItem">
                  Email:
                </h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h4 class="itemInfo">
                  {{user.email}}
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h5 class="titleItem">
                  User Type:
                </h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h4 class="itemInfo">
                  {{user.userType}}
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h5 class="titleItem">
                  User roles:
                </h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <ul class="itemInfo">
                  <li *ngFor="let role of user.roles">
                    {{role.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="form-group navbar-right">
        <button type="button" (click)="openModal()"  class="btn btn-danger btn-shadow">Delete</button>
        <button type="button" (click)="goToEdit()"  class="btn btn-success btn-shadow">Edit</button>
        <button type="button" (click)="returnToBack()" class="btn btn-primary btn-shadow">Back</button>
      </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1"></div>
  </div>
</div>

