
<div class="main-content">
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <h2 class="title" style="text-align: right">Edit user</h2>

    <form name="form" (ngSubmit)="f.form.valid && editUser()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName"
               #firstName="ngModel" required maxlength="50"/>

        <div *ngIf="f.submitted && !firstName.valid" class="help-block">First name is required</div>
        <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"
             class="alert alert-danger">
          <div [hidden]="!firstName.errors.required">
            First name is required
          </div>
          <div [hidden]="!firstName.errors.maxlength">
            First name cannot be more than 50 characters long.
          </div>
        </div>

      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName"
               #lastName="ngModel" required maxlength="50"/>

        <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last name is required</div>
        <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
             class="alert alert-danger">
          <div [hidden]="!lastName.errors.required">
            Last name is required
          </div>
          <div [hidden]="!lastName.errors.maxlength">
            Last name cannot be more than 50 characters long.
          </div>
        </div>

      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Username</label>
        <input id="username" type="text" class="form-control" name="username" [(ngModel)]="user.name"
               #username="ngModel" required minlength="4" maxlength="24" pattern="^[a-z]+([-_]?[a-z0-9]+){0,2}$"/>

        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        <div *ngIf="username.errors && (username.dirty || username.touched)"
             class="alert alert-danger">
          <div [hidden]="!username.errors.required">
            User name is required
          </div>
          <div [hidden]="!username.errors.minlength">
            Username must be at least 4 characters long.
          </div>
          <div [hidden]="!username.errors.maxlength">
            Username cannot be more than 24 characters long.
          </div>
          <div [hidden]="!username.errors.pattern">
            Username must be between 4 to 24 characters long,
            may contain the Latin letters, digits and special characters.
          </div>
        </div>
        <div *ngIf="(username.dirty || username.touched)">
          <div [hidden]="(isDuplicateLogin)" class="alert alert-danger">
            Such Username already exists.
          </div>
        </div>

      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" name="email" [(ngModel)]="user.email"
               #email="ngModel" required minlength="5" maxlength="50"
               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"/>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        <div *ngIf="email.errors && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div [hidden]="!email.errors.required">
            Email is required
          </div>
          <div [hidden]="!email.errors.minlength">
            Email must be at least 5 characters long.
          </div>
          <div [hidden]="!email.errors.maxlength">
            Email cannot be more than 50 characters long.
          </div>
          <div [hidden]="!email.errors.pattern">
            The email must be between 5 to 50 characters long,
            must be contain the Latin letters and digits.
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userType.valid }">
        <label for="userType">Select a usertype</label>
        <select id="userType" required #userType="ngModel" name="userType" [(ngModel)]="user.userType">
          <!--<option disabled value="">Select a usertype...</option>-->
          <option *ngFor="let type of types">{{ type }}</option>
        </select>
        <div *ngIf="f.submitted && !userType.valid" class="help-block">User type is required</div>
      </div>

      <div class="form-group navbar-right">
        <button class="btn btn-success btn-shadow">Edit</button>
        <button type="button" (click)="returnToBack()" class="btn btn-primary btn-shadow">Back</button>
      </div>
    </form>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>
