.awesomplete > input {
  display: block;
  width: 15.0vw;
  height: 34px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  margin-bottom: 10px;
}

html, body {
  height: calc(100% - 34px);
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: calc(100% - 34px);
}

.content {
  position: relative;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
  min-height: calc(100% + 70px);
}

.layout-left-menu {
  color: #ffffff;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  height: calc(100% + 1px);
  -webkit-font-smoothing: antialiased !important;
  background-color: #4f5a6e;
  text-rendering: optimizeLegibility !important;
  z-index: 100;
  display: block;
  overflow: auto !important;
}

.block {
  display: block;
  transition: all ease 5s;
  overflow: hidden !important;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}

.logo {
  background-color: #424b5f;
}

.logoSmall {
  background-color: #4f5a6e;
}

.logo, .logoSmall {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 70px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  line-height: 70px;
  position: relative;
  top: -1px;
}

.logo a, .logoSmall a {
  color: white;
  display: block;
  text-decoration: none;
  outline: 0;
}

.logo a:hover, .logoSmall a:hover {
  text-decoration: none;
  color: #1b75ff;
  font-size: 26px;
}

.glyphicon {
  color: #ffffff;
}

.hamburger {
  top: -1px;
  text-align: center;
}

.hamburger-btn {
  /*border: none #4f5a6e !important;*/
  background-color: #4f5a6e;
}

.backlighting, .backlighting-login, .backlighting-login:focus {
  color: #ffffff;
  text-decoration: none;
}

.backlighting:hover {
  color: #dbffba;
}

.backlighting-login:hover {
  cursor: pointer;
}

.user-panel, .user-panel-small {
  min-height: 60px;
  height: auto;
  color: #ffffff;
  background-color: #4f5a6e;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 0;
  border-bottom: 1px solid #485265;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.user-panel ul li:hover,
.user-panel-small ul li:hover {
  background-color: grey;
}

.user-panel ul li a:hover,
.user-panel-small ul li a:hover {
  color: #ffffff;
  background-color: grey;
  text-decoration: none;
}

.user-panel ul li a:focus
.user-panel-small ul li a:focus {
  color: #ffffff;
  text-decoration: none;
}

.admin-panel {
  min-height: 60px;
  height: auto;
  color: #333;
  background-color: #4f5a6e;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding-left: 20px;*/
  margin: 0;
  border-bottom: 1px solid #485265;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.admin-panel a {
  color: #ffffff;
}

.main-menu {
  margin: 0;
  list-style: none;
  line-height: 1.5em;
  font-size: 15px;
  vertical-align: baseline;
  background: transparent;
  display: block;
  padding-left: 0;
  color: #ffffff;
}

.main-menu-item {
  font-size: 15px;
  line-height: 50px;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  color: #ffffff;

}

.margin-bottom50 {
  margin-bottom: 50px;
}

.main-menu-submenu {
  font-size: 13px;
  height: 20px;
  width: 100%;
  padding-left: 30px;
}

.main-menu-submenu a {
  text-decoration: none;
}

.main-menu li:hover {
  background-color: grey;
}

.main-menu li a:hover {
  color: #ffffff;
  background-color: grey;
  text-decoration: none;
}

.main-menu-item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  outline: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #F8F4FF;
  padding: 2px 10px;
  margin-top: 20px;
}

.card:hover, .btn-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.btn-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #F8F4FF;
  padding: 2px 10px;
  margin-top: 2%;
}

.card-info:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}


.card-footer {
  text-align: right;
  padding-bottom: 10px;
}

.mediaImg,
.cardImg{
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.fon-ghostwhite{
  background-color: ghostwhite;
}

.backLightItem {
  color: #ffffff;
  background-color: grey;
  text-decoration: none;
  font-size: 16px !important;
  font-weight: 500;
}

/*#bottom-main-menu {*/
/*background-color: #424b5f;*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/*}*/

.main-menu-help {
  /*position: absolute;*/
  /*width: 250px;*/
  bottom: 0;
  margin-bottom: 10%;
  list-style: none;
  line-height: 1.5em;
  font-size: 15px;
  background: transparent;
  display: block;
  padding-left: 0;
  text-decoration: none;
}

.main-menu li:hover,
.main-menu-help li:hover {
  background-color: grey;
  text-decoration: none;
}

.main-menu li a:hover,
.main-menu-help li a:hover {
  color: #ffffff;
  background-color: grey;
  text-decoration: none;
}

.layout-body {
  position: relative;
  margin-top: 70px;
  margin-left: 250px;
  margin-right: 250px;
  height: auto !important;
  min-height: calc(100% - 30px);
  overflow: hidden;
  padding: 0;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.top-bar {
  position: relative;
  margin-left: 250px;
  margin-right: 250px;
  height: 69px;
  width: auto;
  line-height: 70px;
  text-align: right;
  background: #4f5a6e;
  z-index: 1;
}

.main-content {
  margin-top: 2%;
  position: relative;
  margin-left: 300px;
  margin-right: 300px;
  height: 100%;
  line-height: 100%;
  /*background: #4f5a6e;*/
}

.search-wrapper {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.search-menu {
  width: 90%;
  text-align: center;
  height: 30px;
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5em;
}

.main-search {
  margin-top: 15px;
  width: 90%;
  margin-right: 5%;
  border-bottom: none;
  position: relative;
  background: #424b5f;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  border-radius: 5px;
  color: #a7b3cb;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  line-height: 1.5em;
  text-align: left;
}

.layout-top-bar-create-team {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 69px;
  -webkit-font-smoothing: antialiased !important;
  background-color: #4f5a6e;
  text-rendering: optimizeLegibility !important;
  z-index: 100;
}

.showBtn {
  display: block;
}

.create-team-button-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 250px;
  height: 69px;
  border-left: solid 1px #485265;
  background-color: #4f5a6e;
}

.create-team-button-wrapper a {
  margin: auto;
  color: white;
  position: relative;
  top: 15px;
  left: 50px;
  width: 150px;
  height: 40px;
  background-color: #85e285;
  /*border-radius: 10px;*/
}
.titleCard{
  font-weight: 600;
  color: #3795c4;
}

.titleItem{
  font-weight: 400;
  font-style: italic;
}

.itemInfo{
  font-weight: 600;
}

.layout-right-menu {
  position: fixed;
  z-index: 1;
  color: #ffffff;
  right: 0;
  min-height: 498px;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-font-smoothing: antialiased !important;
  background-color: lightgrey;
  text-rendering: optimizeLegibility !important;
}

.layout-footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: #f9f9f9;
  border-top: 1px solid lightgrey;
}

.content {
  min-height: calc(100% - 30px);
}

/**********************************New Part**********************************/

div.search-wrapper-toggle {
  float: left;
  margin-left: 0;
  text-align: left;
}

a#logo {
  color: white;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

a#logo:hover,
a#logout:hover,
a#editProfile:hover {
  text-decoration: none;
}

.left-menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

div#search {
  display: none;
}

.search-search-menu {
  width: 70%;
  text-align: center;
  height: 30px;
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5em;
}

input.main-search-search {
  margin-top: 15px;
  width: 70%;
  margin-right: 0;
  margin-left: 1%;
  border-bottom: none;
  position: relative;
  background: #a7b3cb;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  line-height: 1.5em;
  text-align: left;
}

/***********Show Left Panel on the small devices by clicking button on the header ************************/
div#leftmenu.layout-left-menu.left-menu {
  color: #ffffff;
  left: auto;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  height: calc(100% + 1px);
  -webkit-font-smoothing: antialiased !important;
  background-color: #4f5a6e;
  text-rendering: optimizeLegibility !important;
  z-index: 100;
  display: block;
  margin-left: -250px;
}

/********Push Menu************/
body.spmenu-push-toleft {
  left: 250px;
  position: fixed;
}

div#leftmenu.layout-left-menu.left-menu.spmenu-left.spmenu-open {
  left: 0;
}

/***************Body initial class*******************/
.spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/*********************Menu initial class***********************/
.spmenu-left.spmenu-open {
  left: 0px;
}

span.glyphicon.glyphicon-menu-hamburger {
  font-size: 1.5em;
}

button.btn.btn-navbar-toggle {
  background: #4f5a6e
}

div#searchMark.button-wrapper {
  display: none;
}

@media (max-width: 1650px) {

}

@media (min-width: 1650px) {

}

@media (max-width: 1455px) {
  div#user_container.container {
    margin-left: 250px;
    margin-right: 250px;
    width: auto;
  }
}

.search-search-menu {
  width: 90%;
  text-align: center;
  height: 30px;
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.5em;
}

.shadow-white {
  -webkit-box-shadow: 0 1px 4px rgba(183, 183, 183, 0.5), 0 0 40px rgba(96, 96, 96, 0.3) inset;
  -moz-box-shadow: 0 1px 4px rgba(183, 183, 183, 0.5), 0 0 40px rgba(96, 96, 96, 0.3) inset;
  box-shadow: 0 1px 4px rgba(183, 183, 183, 0.5), 0 0 40px rgba(96, 96, 96, 0.3) inset;
  -webkit-box-shadow: 0 15px 10px -10px rgba(255, 255, 255, 0.8), 0 1px 4px rgba(183, 183, 183, 0.5), 0 0 40px rgba(96, 96, 96, 0.3) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(255, 255, 255, 0.8), 0 1px 4px rgba(183, 183, 183, 0.5), 0 0 40px rgba(96, 96, 96, 0.3) inset;
  box-shadow: 0 15px 10px -10px rgba(255, 255, 255, 0.8), 0 1px 4px rgba(183, 183, 183, 0.5), 0 0 40px rgba(96, 96, 96, 0.3) inset;
}

.create-team-button-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 250px;
  height: 69px;
  border-left: solid 1px #485265;
  background-color: #4f5a6e;
}

.create-team-button-wrapper button {
  margin: auto;
  color: white;
  position: relative;
  top: 15px;
  left: 50px;
  width: 150px;
  height: 40px;
  background-color: lightgreen;
  border-radius: 10px;
}

.layout-right-menu {
  position: fixed;
  z-index: 1;
  color: #ffffff;
  right: 0;
  min-height: 498px;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-font-smoothing: antialiased !important;
  background-color: lightgrey;
  text-rendering: optimizeLegibility !important;
}
@media (max-width: 1550px) {

  .cardImg img{
    width: 100px;
    height: 100px;
  }
  .info h4{
    font-size: 98%;
  }
}

@media (max-width: 992px) {

  div.create-team-button-wrapper {
    display: none;
  }

  .top-bar {
    margin-right: 0;
  }

  .main-content {
    margin-right: 50px;
  }

  .info h3{
    font-size: 150%;
  }


}

@media (min-width: 992px) {

  .create-team-button-wrapper-small {
    display: none;
  }

}

@media (max-width: 768px) {

  .layout-left-menu {
    position: absolute;
    z-index: 5;
    top: 70px;
    left: -250px;
    width: 250px;
    text-align: left;
    color: #ffffff;
    min-height: 100%;
    /*top: 0;*/
    height: auto;
    -webkit-font-smoothing: antialiased !important;
    background-color: #4f5a6e;
    text-rendering: optimizeLegibility !important;
    overflow: visible !important;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
  }

  .logo {
    display: none;
  }

  .top-bar {
    margin-left: 0;
  }

  .main-content {
    margin-left: 50px;
  }

  .main-search {
    display: none;
  }

  .main-search-small {
    margin-top: 5px;
    width: 90%;
    margin-right: 5%;
    border-bottom: none;
    position: relative;
    background: #f0f0f0;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-radius: 5px;
    color: #a7b3cb;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    height: 40px;
    line-height: 1.5em;
    text-align: left;
  }

}

@media (min-width: 768px) {

  .logoSmall, .main-search-small, .hamburger {
    display: none;
  }

  .layout-left-menu {
    color: #ffffff;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 250px;
    height: calc(100% + 1px);
    -webkit-font-smoothing: antialiased !important;
    background-color: #4f5a6e;
    text-rendering: optimizeLegibility !important;
    z-index: 100;
    display: block;
    overflow: hidden !important;
  }
}

@media (max-width: 610px) {
  .mediaImg img {
    width: 32px;
    height: 32px;
  }
  .info h3,.info h4,.info h5{
    font-size: 90%;
  }
  .btn-shadow{
    margin: 10px 0 0;
  }
}
@media (max-width: 460px) {
  .mediaImg img {
    display: none;
  }
  .profile h5{
    font-size: 70%;
  }

  .card-footer  .btn-sm{
    font-size: 8px;
    line-height: 1.5;
  }
  .addUser .btn{
    font-size: 12px;
    line-height: 1.3;
  }
  .title {
    font-size: 16px;
    font-weight: 600
  }
}
/*.hidden_panel {*/
/*position: absolute;*/
/*z-index: 5;*/
/*top: 70px;*/
/*left: -250px;*/
/*width: 250px;*/
/*text-align: left;*/
/*color: #ffffff;*/
/*min-height: 100%;*/
/*!*top: 0;*!*/
/*height: auto;*/
/*-webkit-font-smoothing: antialiased !important;*/
/*background-color: #4f5a6e;*/
/*text-rendering: optimizeLegibility !important;*/
/*overflow: visible !important;*/

/*-webkit-transition-duration: 0.3s;*/
/*-moz-transition-duration: 0.3s;*/
/*-o-transition-duration: 0.3s;*/
/*transition-duration: 0.3s;*/

/*-webkit-border-radius: 0 5px 5px 0;*/
/*-moz-border-radius: 0 5px 5px 0;*/
/*border-radius: 0 5px 5px 0;*/
/*}*/
/*.base-layout-left-menu-small {*/
/*color: #ffffff;*/
/*!*left: auto;*!*/
/**/
/*position: fixed;*/
/*width: 250px;*/
/*height: calc(100% + 1px);*/
/*-webkit-font-smoothing: antialiased !important;*/
/*background-color: #4f5a6e;*/
/*text-rendering: optimizeLegibility !important;*/
/*!*display: block;*!*/
/*}*/
/*.base-layout-left-menu-small {*/
/*margin-top: 70px;*/
/*overflow: visible;*/
/*}*/
/*!*************** Large devic
es (desktops, 992px and up)*************************!*/
/*!******after 992px********************!*/
/*@media (min-width: 992px) {*/

/*.search-wrapper-toggle {*/
/*display: none;*/
/*}*/

/*div#leftmenu.base-layout-left-menu {*/
/*display: block;*/
/*visibility: visible;*/
/*}*/

/*.top-bar-leftmenu {*/
/*padding-left: 0;*/
/*}*/

/*body.spmenu-push-toleft {*/
/*margin-left: -250px;*/
/*}*/

/*div#leftmenu.base-layout-left-menu.left-menu {*/
/*color: #ffffff;*/
/*left: auto;*/
/*min-height: 100%;*/
/*position: fixed;*/
/*top: 0;*/
/*width: 250px;*/
/*height: calc(100% + 1px);*/
/*-webkit-font-smoothing: antialiased !important;*/
/*background-color: #4f5a6e;*/
/*text-rendering: optimizeLegibility !important;*/
/*z-index: 100;*/
/*display: block;*/
/*margin-left: 0 !important;*/
/*}*/
/*}*/

/*!**********Before 992px***************!*/
/*@media (max-width: 992px) {*/
/*.base-layout-left-menu, a#headLogo, div.logo, .base-layout-right-menu, div.create-team-button-wrapper {*/
/*display: none;*/
/*}*/

/*div#user_container.container {*/
/*margin-left: 15px;*/
/*margin-right: 15px;*/
/*}*/

/*div.top-bar {*/
/*width: 100%;*/
/*margin-left: 0;*/
/*overflow: hidden;*/
/*}*/

/*input.main-search {*/
/*width: 100%;*/
/*margin-right: 5%;*/
/*}*/

/*!********Create Team mark********!*/
/*span.glyphicon.glyphicon-plus {*/
/*margin-right: 3%;*/
/*}*/

/*div.create-team-button {*/
/*float: right;*/
/*margin-right: 2%;*/
/*}*/

/*!*******************************!*/
/*.content#test {*/
/*position: relative;*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*padding: 20px;*/
/*min-height: calc(100% + 70px);*/
/*text-align: center;*/
/*}*/

/*div.search_wrap_fluid {*/
/*float: left;*/
/*width: 100%;*/
/*}*/

/*div#small-screen.search-wrapper {*/
/*float: left;*/
/*width: 65%;*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*position: relative;*/
/*}*/

/*div#leftmenu.base-layout-left-menu.left-menu.spmenu-left.spmenu-open {*/
/*left: 250px;*/
/*}*/
/*}*/

/*!***************************** iPads *******************************!*/
/*@media (min-width: 768px) {*/
/*.navbar-form {*/
/*text-align: center;*/
/*}*/
/*}*/

/*@media (max-width: 768px) {*/

/*div#editProfileContainer.content {*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

/*.navbar-form .form-group {*/
/*text-align: -webkit-center;*/
/*}*/

/*input.main-search {*/
/*display: none;*/
/*}*/

/*div#small-screen.search-wrapper {*/
/*display: none;*/
/*}*/

/*.btn.btn_link {*/
/*position: absolute;*/
/*top: 30px;*/
/*background-color: white;*/
/*}*/

/*!********Create Team and Search marks********!*/
/*span.glyphicon.glyphicon-plus {*/
/*margin-right: 3%;*/
/*}*/

/*div.button-wrapper {*/
/*float: right;*/
/*margin-right: 2%;*/
/*}*/

/*div#searchMark.button-wrapper {*/
/*display: inline-block;*/
/*}*/
/*}*/

/*!*******************************!*/

/*div.search-wrapper-toggle {*/
/*float: left;*/
/*margin-left: 0;*/
/*text-align: left;*/
/*}*/

/*.top-bar {*/
/*position: relative;*/
/*margin-left: 250px;*/
/*margin-right: 250px;*/
/*height: 69px;*/
/*width: auto;*/
/*line-height: 70px;*/
/*text-align: right;*/
/*background: #4f5a6e;*/
/*z-index: 1;*/
/*}*/

/*.base-layout-left-menu {*/
/*color: #ffffff;*/
/*left: auto;*/
/*min-height: 100%;*/
/*position: fixed;*/
/*top: 0;*/
/*width: 250px;*/
/*height: calc(100% + 1px);*/
/*-webkit-font-smoothing: antialiased !important;*/
/*background-color: #4f5a6e;*/
/*text-rendering: optimizeLegibility !important;*/
/*z-index: 100;*/
/*display: block;*/
/*}*/

/*.logo {*/
/*text-decoration: none;*/
/*display: inline-block;*/
/*width: 100%;*/
/*height: 70px;*/
/*white-space: nowrap;*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*color: #fff;*/
/*font-size: 22px;*/
/*font-weight: 700;*/
/*line-height: 70px;*/
/*position: relative;*/
/*top: -1px;*/
/*background-color: #424b5f;*/
/*}*/

/*.main-menu-submenu a {*/
/*text-decoration: none;*/
/*}*/

/*.main-menu-item a {*/
/*display: block;*/
/*color: #ffffff;*/
/*text-decoration: none;*/
/*outline: 0;*/
/*}*/

/*.backLightItem {*/
/*color: #ffffff;*/
/*background-color: grey;*/
/*text-decoration: none;*/
/*font-size: 16px !important;*/
/*font-weight: 500;*/
/*}*/

/*.button-add-team {*/

/*}*/

/*.search-wrapper {*/
/*float: left;*/
/*width: 100%;*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*position: relative;*/
/*}*/

/*.main-search {*/
/*margin-top: 15px;*/
/*width: 90%;*/
/*margin-right: 5%;*/
/*border-bottom: none;*/
/*position: relative;*/
/*background: #424b5f;*/
/*padding-left: 15px;*/
/*padding-right: 15px;*/
/*border: 0;*/
/*border-radius: 5px;*/
/*color: #a7b3cb;*/
/*font-size: 15px;*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*height: 40px;*/
/*line-height: 1.5em;*/
/*text-align: left;*/
/*}*/

/********Create Team and Search marks********/
/*span.glyphicon.glyphicon-plus {*/
/*margin-right: 3%;*/
/*}*/

/*div.button-wrapper {*/
/*float: right;*/
/*margin-right: 2%;*/
/*}*/

/*div#searchMark.button-wrapper {*/
/*display: inline-block;*/
/*}*/

/*******************************/

/*!*************** Large devices (desktops, 992px and up)*************************!*/
/*!******after 992px********************!*/
/*@media (min-width: 992px) {*/

/*.search-wrapper-toggle {*/
/*display: none;*/
/*}*/

/*div#leftmenu.base-layout-left-menu {*/
/*display: block;*/
/*visibility: visible;*/
/*}*/

/*.top-bar-leftmenu {*/
/*padding-left: 0;*/
/*}*/

/*div.create-team-button {*/
/*display: none;*/
/*}*/

/*body.spmenu-push-toleft {*/
/*margin-left: -250px;*/
/*}*/

/*div#leftmenu.base-layout-left-menu.left-menu {*/
/*color: #ffffff;*/
/*left: auto;*/
/*min-height: 100%;*/
/*position: fixed;*/
/*top: 0;*/
/*width: 250px;*/
/*height: calc(100% + 1px);*/
/*-webkit-font-smoothing: antialiased !important;*/
/*background-color: #4f5a6e;*/
/*text-rendering: optimizeLegibility !important;*/
/*z-index: 100;*/
/*display: block;*/
/*margin-left: 0 !important;*/
/*}*/
/*}*/

/*!**********Before 992px***************!*/
/*@media (max-width: 992px) {*/
/*.base-layout-left-menu, a#headLogo, div.logo, .base-layout-right-menu, div.create-team-button-wrapper {*/
/*display: none;*/
/*}*/

/*div#user_container.container {*/
/*margin-left: 15px;*/
/*margin-right: 15px;*/
/*}*/

/*div.top-bar {*/
/*width: 100%;*/
/*margin-left: 0;*/
/*overflow: hidden;*/
/*}*/

/*!********Create Team mark********!*/
/*span.glyphicon.glyphicon-plus {*/
/*margin-right: 3%;*/
/*}*/

/*div.create-team-button {*/
/*float: right;*/
/*margin-right: 2%;*/
/*}*/

/*!*******************************!*/
/*.content#test {*/
/*position: relative;*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*padding: 20px;*/
/*min-height: calc(100% + 70px);*/
/*text-align: center;*/
/*}*/

/*div.search_wrap_fluid {*/
/*float: left;*/
/*width: 100%;*/
/*}*/

/*div#small-screen.search-wrapper {*/
/*float: left;*/
/*width: 65%;*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*position: relative;*/
/*}*/

/*div#leftmenu.base-layout-left-menu.left-menu.spmenu-left.spmenu-open {*/
/*left: 250px;*/
/*}*/
/*}*/

/*!***************************** iPads *******************************!*/
/*@media (min-width: 768px) {*/
/*.navbar-form {*/
/*text-align: center;*/
/*}*/
/*}*/

/*@media (max-width: 768px) {*/

/*div#editProfileContainer.content {*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

/*.navbar-form .form-group {*/
/*text-align: -webkit-center;*/
/*}*/

/*div#small-screen.search-wrapper {*/
/*display: none;*/
/*}*/

/*.btn.btn_link {*/
/*position: absolute;*/
/*top: 30px;*/
/*background-color: white;*/
/*}*/

/*!********Create Team and Search marks********!*/
/*span.glyphicon.glyphicon-plus {*/
/*margin-right: 3%;*/
/*}*/

/*div.button-wrapper {*/
/*float: right;*/
/*margin-right: 2%;*/
/*}*/

/*div#searchMark.button-wrapper {*/
/*display: inline-block;*/
/*}*/

/*!*******************************!*/

/*}*/
