<div class="container-fluid">
  <div class="container xd-container">
    <h4>Roles</h4>
    <br>
    <div>
      <form (ngSubmit)="onSubmit(roleForm.value)" #roleForm="ngForm" class="form-horizontal">

        <div class="col-sm-11">
          <input type="text" class="form-control" placeholder="Create new role" id="name" [(ngModel)]="role.name" minlength="4" required name="name" #name="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="name.valid" [class.glyphicon-remove]="!name.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="name.dirty && name.hasError('required')">Name is required</span>
          <span class="help-block" *ngIf="name.dirty && name.hasError('minlength')">Name must be at least 4 characters long</span>
        </div>

        <button type="submit" [disabled]="!roleForm.valid" class="btn btn-default">Add role</button>

      </form>
      <br>
      <div class="table-responsive col-sm-12" style="clear: both">

        <table class="table table-striped">
          <thead><tr>  <th>Name</th>  </tr></thead>

          <tbody>
          <tr *ngFor="let role of roles let element_id=index">
            <td>
              <a routerLink="/role/{{role.id}}" routerLinkActive="active"(click)="onSelect(role)">{{role.name}}</a>
            </td>
            <td align="right">
              <button align="right" class="btn btn-default"  (click)="edit(role)">Edit role</button>
              <button align="right" class="btn btn-default" (click)="delete(role)">Delete</button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
