<div [ngStyle]="{'left':leftU}" id="left-main-menu" class="layout-left-menu">
  <div class="logo">
    <a (click)="toMain()" class="backlighting-login" id="headLogo">Startapium</a>
  </div>
  <div class="user-panel">
    <div *ngIf="(aGuard.isAuthenticated)">
      <app-user-block></app-user-block>
    </div>
    <div *ngIf="(!aGuard.isAuthenticated)">
      <ul class="main-menu">
        <li class="main-menu-item">
          <a (click)="enterToLogin()" class="backlighting-login">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Войти на сайт
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="(aGuard.isAuthenticated)">
    <ul class="main-menu">

      <li id="users" class="main-menu-item">
        <a href="/user/listUsers">
          <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Пользователи
        </a>
      </li>

      <li id="projects" class="main-menu-item">
        <a href="/project/listProjects">
          <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;Проекты
        </a>
      </li>

    </ul>
  </div>

  <div>
    <ul class="main-menu" id="bottom-main-menu">
      <li id="toStart" class="main-menu-item">
        <a href="/basic/howToStart">
          <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;С чего начать
        </a>
      </li>
      <li id="aboutUs" class="main-menu-item">
        <a href="/basic/aboutUs">
          <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;О нас
        </a>
      </li>
    </ul>
  </div>

  <div hidden="hidden">
    <ul class="main-menu">
      <li id="admin_panel" class="main-menu-item">
        <a href="/user/adminPage/${user.id}">
          <span class="glyphicon glyphicon-education"></span> adminPanel
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="(rGuard.isAdmin)">
    <ul class="main-menu">
      <li id="admin_page" class="main-menu-item">
        <a (click)="toAdmin()" class="backlighting-login">Admin page</a>
      </li>
    </ul>
  </div>

  <div class="create-team-button-wrapper-small">
    <ul class="main-menu">
      <li class="main-menu-item">
        <div *ngIf="(aGuard.isAuthenticated)">
          <button class="btn btn-success shadow-white" href="/team/addTeam">
            Cоздать проект
          </button>
        </div>
      </li>
    </ul>
  </div>

</div>


<top-bar></top-bar>
