
<div class="container-fluid">
  <div class="container xd-container">
    <h4>
      Edit role
    </h4>
    <form align="left" (ngSubmit)="onSubmit(roleForm.value)" #roleForm="ngForm" class="form-horizontal">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="role.id" name="id"/>
      </div>
      <div class="form-group has-feedback" align="left" [class.has-success]="name.valid" [class.has-error]="!name.valid">
        <div class="col-sm-10">
          <input type="text" align="left" class="form-control" id="name" [(ngModel)]="role.name" minlength="4" required name="name" #name="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="name.valid" [class.glyphicon-remove]="!name.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="name.dirty && name.hasError('required')">Name is required</span>
          <span class="help-block" *ngIf="name.dirty && name.hasError('minlength')">Name must be at least 4 characters long</span>
<br>
          <button class="btn btn-default" (click)="rolesAll(role)">Back</button>
          <button type="submit" [disabled]="!roleForm.valid" class="btn btn-default">Update role</button>
        </div>
      </div>
    </form>
  </div>
</div>
