<div id="top-bar-menu" class="top-bar">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-sm-10 col-xs-9">
          <div class="logoSmall">
            <a (click)="toMain()" class="backlighting-login" id="headLogoSmall">Startapium</a>
          </div>
        </div>
        <div class="col-sm-2 col-xs-3 hamburger">
          <button (click)="hamburgerClick()" class="btn hamburger-btn" id="hamburger" type="button">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
      </div>

      <input id="searchInput" name="search"
             type="search" required minlength="2" maxlength="50"
             class="main-search" placeholder="Find team,vacancy,specialist or project"/>
      <input id="searchInp" type="submit" style="display: none"/>

      <div id="search-menu" class="btn-group-sm search-search-menu">
        <button id="searchUsers" type="button" class="btn-link">
          <!--onclick="clickSearch('${contextPath}/search/resultUsersSearch?${_csrf.parameterName}=${_csrf.token}')">-->
          -search.menu.users-
        </button>
        <button id="searchTeams" type="button" class="btn-link">
          <!--onclick="clickSearch('${contextPath}/search/resultTeamsSearch?${_csrf.parameterName}=${_csrf.token}')">-->
          -search.menu.teams-
        </button>
        <button id="searchVacancies" type="button" class="btn-link">
          <!--onclick="clickSearch('${contextPath}/search/resultVacanciesSearch?${_csrf.parameterName}=${_csrf.token}')">-->
          -search.menu.vacancies-
        </button>
        <button id="searchProjects" type="button" class="btn-link">
          <!--onclick="clickSearch('${contextPath}/search/resultProjectsSearch?${_csrf.parameterName}=${_csrf.token}')">-->
          -search.menu.projects-
        </button>
        <button id="searchTags" type="button" class="btn-link">
          <!--onclick="clickSearch('${contextPath}/search/resultTagsSearch?${_csrf.parameterName}=${_csrf.token}')">-->
          -search.menu.tags-
        </button>
        <button id="searchAll" type="button" class="btn-link">
          <!--onclick="clickSearch('${contextPath}/search/resultAllSearch?${_csrf.parameterName}=${_csrf.token}')">-->
          -search.menu.all-
        </button>
      </div>
    </div>
  </div>
  <div class="row searchInputSmall">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <input id="searchInputSmall" name="search"
             type="search" required minlength="2" maxlength="50"
             class="main-search-small" placeholder="Find team,vacancy,specialist or project"/>
      <input id="searchInpSmall" type="submit" style="display: none"/>
    </div>
  </div>
</div>
<div class="create-team-button-wrapper">
  <div *ngIf="(aGuard.isAuthenticated)&&(showAddTeam)" class="showBtn">
    <button class="btn btn-success shadow-white" href="/team/addTeam">
      Cоздать команду
    </button>
  </div>
</div>
