<style>
  li {
    list-style-type: none;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }
</style>

<div class="main-content">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h1 class="title">Users</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h4 class="addUser">
            <a class="btn btn-success btn-shadow navbar-right backlighting-login" (click)="add()">
              addUser
            </a>
          </h4>
        </div>
      </div>
      <div class="tabs">
        <ul class="nav nav-tabs nav-justified">
          <li class="active" role="presentation">
            <a id="a_one" href="#one" data-toggle="tab">
              all users
            </a>
          </li>
          <li role="presentation">
            <a id="a_two" href="#two" data-toggle="tab">
              specialists
            </a>
          </li>
          <li role="presentation">
            <a id="a_three" href="#three" data-toggle="tab">
              customers
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="one">
          <div class="holder holder1"></div>
          <div *ngIf="users">
            <ul id="itemOne">
              <li *ngFor="let user of users">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3">
                      <div class="mediaImg">
                        <div *ngIf="user.avatar_id;else templateUserAvatar">
                          <img height="64" width="64"
                               src="${contextPath}/showImage?index=(user.avatar)"
                               alt="">
                        </div>
                        <ng-template #templateUserAvatar>
                          <img height="64" width="64"
                               src="assets/images/user.svg"
                               alt="">
                        </ng-template>
                      </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="profile">
                            <h5><i>User Name: </i><b>{{user.name}}</b></h5>
                            <h5><i>
                              First Name: </i><b>{{user.firstName}}</b>
                            </h5>
                            <h5><i>
                              Last Name: </i><b>{{user.lastName}}</b>
                            </h5>
                            <h5><i>Email: </i><b>{{user.email}}</b></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card-footer">

                        <div *ngIf="(rGuard.isAdmin)">
                          <b>
                            <a (click)="edit(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkblue">
                              edit user
                            </a>
                          </b>
                          <b>
                            <a (click)="delete(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkred">
                              delete user
                            </a>
                          </b>
                          <b>
                            <a (click)="onSelect(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkgreen">
                              info user
                            </a>
                          </b>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-pane fade" id="two">
          <div class="holder holder2"></div>
          <div *ngIf="specialists">
            <ul id="itemTwo">
              <li *ngFor="let user of specialists">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3">
                      <div class="mediaImg">
                        <div *ngIf="user.avatar_id;else templateUserAvatar">
                          <img height="64" width="64"
                               src="${contextPath}/showImage?index=(user.avatar)"
                               alt="">
                        </div>
                        <ng-template #templateUserAvatar>
                          <img height="64" width="64"
                               src="assets/images/user.svg"
                               alt="">
                        </ng-template>
                      </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="profile">
                            <h5><i>User Name: </i><b>{{user.name}}</b></h5>
                            <h5><i>
                              First Name: </i><b>{{user.firstName}}</b>
                            </h5>
                            <h5><i>
                              Last Name: </i><b>{{user.lastName}}</b>
                            </h5>
                            <h5><i>Email: </i><b>{{user.email}}</b></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card-footer">

                        <div *ngIf="(rGuard.isAdmin)">
                          <b>
                            <a (click)="edit(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkblue">
                              edit user
                            </a>
                          </b>
                          <b>
                            <a (click)="delete(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkred">
                              delete user
                            </a>
                          </b>
                          <b>
                            <a (click)="onSelect(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkgreen">
                              info user
                            </a>
                          </b>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab-pane fade" id="three">
          <div class="holder holder3"></div>
          <div *ngIf="customers">
            <ul id="itemThree">
              <li *ngFor="let user of customers">
                <div class="card">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3">
                      <div class="mediaImg">
                        <div *ngIf="user.avatar_id;else templateUserAvatar">
                          <img height="64" width="64"
                               src="${contextPath}/showImage?index=(user.avatar)"
                               alt="">
                        </div>
                        <ng-template #templateUserAvatar>
                          <img height="64" width="64"
                               src="assets/images/user.svg"
                               alt="">
                        </ng-template>
                      </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="profile">
                            <h5><i>User Name: </i><b>{{user.name}}</b></h5>
                            <h5><i>
                              First Name: </i><b>{{user.firstName}}</b>
                            </h5>
                            <h5><i>
                              Last Name: </i><b>{{user.lastName}}</b>
                            </h5>
                            <h5><i>Email: </i><b>{{user.email}}</b></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card-footer">

                        <div *ngIf="(rGuard.isAdmin)">
                          <b>
                            <a (click)="edit(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkblue">
                              edit user
                            </a>
                          </b>
                          <b>
                            <a (click)="delete(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkred">
                              delete user
                            </a>
                          </b>
                          <b>
                            <a (click)="onSelect(user)"
                               class="btn btn-primary btn-sm btn-shadow"
                               style="background-color: darkgreen">
                              info user
                            </a>
                          </b>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
